.App {
  text-align: center;
  padding: 20px;
}

.AppLogo {
  height: 20vmin;
  pointer-events: none;
}

.AppHeader {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.AppSpan {
  color: #a8a8a8;
  font-size: calc(3px + 2vmin);
}
